@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  padding: 40px 80px;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  margin: 0px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
header * {
  display: inline-block;
}

img {
  width: 200px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 0.8;
  font-family: "Outfit", sans-serif;
}
h2 {
  font-size: 2rem;
  color: #c2128d;
}
span {
  font-weight: 900;
}

form {
  margin-top: 50px;
}
form * {
  display: inline-block;
}
.bluebutton {
  padding: 20px 60px;
  font-weight: bolder;
  font-size: 1.2rem;
  border: 0;
  background-color: #00ffff;
  box-shadow: 0px 0px 15px 2px #00ffff;
}
.rightalign {
  margin-left: 200px;
}
.promise {
  font-size: 0.8rem;
}
input[type="checkbox"] {
  appearance: none;
  position: relative;
}
input.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid white;
}
input.checkbox:checked {
  background: #c2128d;
}
select {
  padding: 10px 20px;
  text-align: center;
  background: transparent;
  color: white;
}
select option {
  background: #0b113b;
}

.quiztitle {
  display: inline-block;
  margin-top: 100px;
}
.quiz {
  text-align: center;
  height: 500px;
}
.risposta {
  border-radius: 20px;
  width: 300px;
  padding-block: 30px;
  margin: 20px 50px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  display: inline-block;
}
.selected {
  background: rgb(210, 0, 147);
  background: linear-gradient(4deg, rgba(144, 0, 128, 1) 35%, rgba(210, 0, 147, 1) 70%);
}
footer {
  margin-top: 30px;
  text-align: center;
}

.proceedbutton {
  margin-top: 100px;
  padding: 20px 60px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #00ffff;
  box-shadow: 0px 0px 10px 10px #00ffff39;
}
#countDown {
  position: relative;
  text-align: right;
  font-size: 30px;
  margin-left: 500px;
  height: 100px;
}
.results {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results h1 {
  font-size: 30px;
}
#begginingquiz h2 {
  color: white;
}

.results h3,
.bluebutton {
  margin: 40px;
}

.centered {
  text-align: center;
}

.rating img {
  width: 50px;
}
.star {
  filter: brightness(10%);
}

.ratingselect {
  filter: none;
}

.inputcomment {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #c2128d;
  padding: 10px;
  width: 600px;
  margin-bottom: 50px;
}
.inputnumber {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #c2128d;
  padding: 10px;
  width: 100px;
  margin-bottom: 50px;
}

.textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chartcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chartcenter div {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.chartcenter span {
  font-size: 10px;
  font-weight: bold;
}

#grafico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: radial-gradient(transparent 56%, white 55%);
}
#chart {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: radial-gradient(transparent 61%, white 60%);
}
.emptychart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue {
  color: #00ffff;
}
.smol {
  font-size: xx-small;
  font-weight: bold;
}

#divdiff {
  text-align: center;
}
