@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  padding: 40px 80px;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  margin: 0px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
header * {
  display: inline-block;
}

img {
  width: 200px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 0.8;
  font-family: "Outfit", sans-serif;
}
h2 {
  font-size: 2rem;
  color: #c2128d;
}
span {
  font-weight: 900;
}

form {
  margin-top: 50px;
}
form * {
  display: inline-block;
}
.bluebutton {
  margin-left: 200px;
  padding: 20px 60px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #00ffff;
  box-shadow: 0px 0px 10px 10px #00ffff39;
}
.promise {
  font-size: 0.8rem;
}
input.checkbox {
  width: 20px;
  height: 20px;
}

.quiztitle {
  display: inline-block;
}
.quiz {
  text-align: center;
}
.risposta {
  border-radius: 20px;
  width: 300px;
  padding-block: 30px;
  margin: 20px 50px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  display: inline-block;
}
.selected {
  background: rgb(210, 0, 147);
  background: linear-gradient(4deg, rgba(144, 0, 128, 1) 35%, rgba(210, 0, 147, 1) 70%);
}
footer {
  margin-top: 100px;
  text-align: center;
}

.proceedbutton {
  margin-top: 100px;
  padding: 20px 60px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #00ffff;
  box-shadow: 0px 0px 10px 10px #00ffff39;
}
#countDown {
  text-align: right;
  font-size: 40px;
  margin-left: 500px;
  height: 100px;
}
